body {
	text-align: center;
	font-family: 'Radley', serif;
	margin: 0px auto;
	background-color: #cdcdcd;
  background: url(http://subtlepatterns.com/patterns/symphony.png);
}

h1 {
  text-shadow: 4px 4px 4px #aaa;
  margin: 10px auto;
  font-size: 4em;
  color: #333;
  display: block;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
	font-family: 'Tangerine', serif;
}

#intro {
	margin: 0px auto;
	width: 600px;
	text-align: left;
	font-size: 1.2em;
}

#quoteGenerator {
	background: #B3D3B3;
	border-radius: 15px;
	font-family: 'Tangerine', serif;
	font-size: 36px;
	height: 50px;
	width: 150px;
	margin: 20px auto;
	box-shadow: -5px 5px 10px rgba(100, 100, 100, .8);
}

#quoteDiv {
	font-family: 'Cardo', serif;
	font-size: 1.5em;
	width: 600px;
	height: auto;
	text-align: center;
	margin: 0 auto;
	background: #FFFFFF;
	padding: 25px 25px;
	border-radius: 20px;
	box-shadow: -10px 10px 20px rgba(100, 100, 100, .8);
}

#author {
	font-style: italic;
	text-align: center;
}

#twitter-logo {
	height: 10%;
	width: 10%;
	opacity: 0.5;
	transition: opacity 0.5s;
}

#twitter-logo:hover {
	opacity: 1;
}