body {
	text-align: center;
	width: 600px;
	margin: 0px auto;
	background-color: #cdcdcd;
  background: url(http://subtlepatterns.com/patterns/symphony.png);
}

h1 {
  text-shadow: 4px 4px 4px #aaa;
  margin: 10px auto;
  font-size: 2em;
  color: #333;
  display: block;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
	font-family: 'Tangerine', serif;
}

#intro {
	text-align: left;
	font-size: 1.2em;
}

#quoteGenerator {
	background: #B3D3B3;
	border-radius: 50px;
	font-family: 'Tangerine', serif;
	font-size: 36px;
}